* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #040404;
}

.App {
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1rem;
  max-width: 1400px;
  overflow-x: hidden;
}

a {
  color: unset;
  /* text-decoration: none; */
}


  /* @media screen and (max-width: 700px) {
      .section__padding {
          padding: 4rem;
        }
  
        .section__margin {
          margin: 4rem;
        }
  }
  
  @media screen and (max-width: 550px) {
      .section__padding {
          padding: 4rem 2rem;
        }
  
        .section__margin {
          margin: 4rem 2rem;
        }
  } */
